.titulo-3{
  font-size:20px;
}

.separacion{
  border: 2px solid #5bc0de;
  border-radius: 2px;
}

.separacion2{
  border: 1px solid #5bc0de;
  border-radius: 2px;
}

.badge-light{
  background-color: #d0d9d6;
}